---
---
<section class="bg-dark">
    <div 
        class="relative container-wrapper pt-24 pb-24"
        id="solutions-section"
    >
        <h3 class="section-title text-4xl text-left w-full md:w-4/12 mb-4 md:mb-0 text-light">
            Recent projects
        </h3>

        here comes a slider with 1 item on mobile and tablet, 2 item on lg, and 3 itms on xl and above

    </div>
</section>

<style>
    .section-title {
        position: relative;
        margin-top: 16px;
    }

    .section-title::after {
        content: '';
        position: absolute;
        top: -16px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--light);
    }
</style>