---
import Icon from 'astro-icon';
---

<div class="flex flex-col md:flex-row items-center gap-4 md:gap-8">
    <div class="text-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="130" height="45" viewBox="0 0 130 45" class="h-8 w-auto">
            <g clip-path="url(#a)">
                <path 
                    fill="currentColor"
                    fill-rule="evenodd" 
                    d="m0 44.621 14.275-19.726 5.932 2.93 8.46-13.757 7.21 4.313L47.611 0l21.831 26.98 9.862-14.718 10.297 15.09L99.67 5.867 130 41.387 113.603 28l2.544 8.784-16.644-20.24-8.453 18.364L80.7 22.652l-1.672 3.571 4.082 8.252-5.969-4.573-4.048 8.19-27.524-22.239 4.448 15.595-18.1-6.537 1.685 10.026-6.162-4.603L0 44.621Z" 
                    clip-rule="evenodd"
                />
            </g>
            <defs>
                <clipPath id="a">
                    <path d="M0 0h130v44.62H0z"/>
                </clipPath>
            </defs>
        </svg>
    </div>
    <p class="text-base">
        Tech &amp; Trek @ 2025. All rights reserved.
    </p>
</div>