---
import IconWrapper from './IconWrapper';
interface Props {
    // Add any props if needed
}
---

<div class="flex items-center gap-2 cursor-pointer hover:text-accent-3 transition-colors">
    <IconWrapper icon="mingcute:translate" client:load />
    <span class="text-base">EN</span>
</div>
